body{
    background-color: aqua;
    text-align: center;
}

.number-table{
    border: solid 1px black;
    background-color: white;
    width: 50%;
    height: 50px;
    margin: 0 25%;
    font-size: 40px;
    font-weight: bold;
}